<!doctype html>
<html>
    <head>
        <title>Preparing Seating Tool</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            <div><progress></progress></div>
            <div>Preparing your Seating Tool</div>
        </p>

        <script>
         function poll() {
             fetch("{{baseURL}}site-check?site_id={{siteId}}", {
                 method: 'GET',
                 credentials: 'include'
             }).then((response) => response.json())
               .then((json) => {
                   if (json.ready) {
                       window.location.href = '{{{baseURL}}}';
                   } else {
                       setTimeout(poll, 2000);
                   }
               }).catch((err) => {
                   // Not much we can do except hope!
                   window.location.href = '{{{baseURL}}}';
               });
         }

         setTimeout(poll, 2000);
        </script>
    </body>
</html>
